<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.trade">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:name=".app.TradeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_purple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_purple"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".main.ui.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".home.ui.InBillActivity"/>
        <activity android:name=".home.ui.OutBillActivity"/>
        <activity android:name=".home.ui.InBillSaveActivity"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <meta-data
            android:name="Mob-AppKey"
            android:value="d5f6b75591a3"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="551c92abb280bcb234ccc2363fd1111c"/>

        <activity android:name=".home.ui.OutBillSaveActivity"/>
        <activity android:name=".goods.ui.GoodsDetailActivity"/>
        <activity android:name=".other.ui.SupplierActivity"/>
        <activity android:name=".other.ui.CustomerActivity"/>
        <activity android:name=".goods.ui.GoodsSaveActivity"/>
        <activity android:name=".other.ui.FinanceActivity"/>
        <activity android:name=".login.ui.LoginActivity"/>
        <activity android:name=".login.ui.LoginPwdActivity"/>
        <activity android:name=".login.ui.RegisterActivity"/>
        <activity android:name=".app.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".other.focus.ui.NewsDetailActivity"/>
        <activity android:name=".other.focus.ui.FocusActivity"/>
        <activity android:name=".other.ui.DeliverActivity"/>
    </application>

</manifest>